<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/static/css/styleEjercicio1.css">
    <title>INICIO DE SESIÓN</title>
</head>
<body>
<div class="container">
    <h2>INICIO DE SESIÓN</h2>
    <form action="/verificar_sesion" method="post">
        Ingresa tu nombre: <input type="text" name="nombre" required><br>
        Ingresa tu contraseña: <input type="password" name="contrasena" required><br>
        <input type="submit" value="Verificar">
    </form>
    </div>
</body>
</html>